.pexels-dana-tentis-262959-11 {
  width: 4096px;
  height: 2731px;
  position: absolute;
  margin: 0 !important;
  bottom: -854px;
  left: calc(50% - 2048px);
  z-index: 1;
}
.frame-child217 {
  height: 95px;
  width: 1440px;
  position: relative;
  background: linear-gradient(90deg, #def088, #a6d555 45.5%, #598a03);
  display: none;
  max-width: 100%;
}
.home11 {
  position: relative;
  display: inline-block;
  min-width: 66px;
  cursor: pointer;
  z-index: 3;
}
.home-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) 0 0;
}
.recipes9 {
  position: relative;
  display: inline-block;
  min-width: 90px;
  z-index: 3;
}
.recipes-wrapper4 {
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) var(--padding-xl) 0 0;
  box-sizing: border-box;
  color: var(--color-white);
}
.male-user-shape {
  align-self: stretch;
  height: 46px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-floralwhite);
  z-index: 3;
}
.male-user-shape-wrapper {
  width: 529px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-19xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.male-user-icon10 {
  height: 77px;
  width: 72px;
  position: relative;
  object-fit: contain;
  z-index: 3;
}
.rectangle-parent131 {
  align-self: stretch;
  background: linear-gradient(90deg, #def088, #a6d555 45.5%, #598a03);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-xl) var(--padding-9xs)
    var(--padding-185xl);
  box-sizing: border-box;
  gap: var(--gap-87xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-saddlebrown);
  font-family: var(--font-montserrat);
}
.union-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -32px;
  max-height: 100%;
  width: 340px;
}
.meat1 {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 73px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 129px;
  z-index: 2;
}
.meat-label {
  align-self: stretch;
  height: 110px;
  position: relative;
}
.back {
  position: relative;
  font-size: var(--font-size-2xl-3);
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 54px;
  cursor: pointer;
}
.cta-2,
.cta-2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.cta-2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-11xl);
  background-color: var(--color-chocolate-100);
  border-radius: var(--br-xl);
  justify-content: flex-start;
  z-index: 2;
}
.cta-21:hover,
.cta-2:hover {
  background-color: var(--color-chocolate-200);
}
.cta-2-wrapper {
  justify-content: flex-end;
  padding: 0 var(--padding-30xl);
}
.c-t-a-focus,
.meat-label-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.meat-label-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-582xl);
}
.c-t-a-focus {
  width: 308px;
  align-items: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 308px;
}
.spin {
  position: relative;
  font-size: var(--font-size-2xl-3);
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.cta-21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-11xl);
  background-color: var(--color-chocolate-100);
  margin: 0 !important;
  position: absolute;
  right: -103px;
  bottom: 4px;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.image-28-icon {
  height: 789px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 3;
}
.second-image-placeholder {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  min-width: 528px;
}
.c-t-a-focus-parent,
.frame-main,
.second-image-placeholder {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.c-t-a-focus-parent {
  width: 1146px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-saddlebrown);
  font-family: var(--font-paytone-one);
}
.frame-main {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-40xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.image-1-icon13 {
  width: 94px;
  height: 101px;
  position: absolute;
  margin: 0 !important;
  top: -3px;
  left: 56px;
  object-fit: contain;
  z-index: 3;
}
.get-started,
.tour-spinner {
  align-self: stretch;
  position: relative;
}
.tour-spinner {
  height: 107px;
  display: inline-block;
  opacity: 0;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 2;
}
.get-started {
  flex: 1;
}
.cta-22 {
  height: 25.7px;
  width: 63px;
  border-radius: 7.34px;
  background-color: var(--color-royalblue);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs-3) var(--padding-2xs) var(--padding-5xs-4);
  box-sizing: border-box;
  opacity: 0;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
  z-index: 2;
}
.c-t-a-new,
.cta-22,
.tour-spinner-parent {
  display: flex;
  align-items: flex-start;
}
.c-t-a-new {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  font-size: var(--font-size-5xs-8);
}
.tour-spinner-parent {
  width: 470px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xl-7);
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.div13,
.inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.div13 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-floralwhite);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-62xl);
  gap: var(--gap-72xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-60xl-3);
  color: var(--color-white);
  font-family: var(--font-satoshi-variable);
}
@media screen and (max-width: 1200px) {
  .rectangle-parent131 {
    padding-left: var(--padding-83xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .meat1 {
    font-size: var(--font-size-21xl);
  }
  .c-t-a-focus {
    flex: 1;
  }
  .c-t-a-focus-parent {
    flex-wrap: wrap;
  }
  .tour-spinner {
    font-size: var(--font-size-44xl);
  }
  .div13 {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent131 {
    display: none;
    gap: var(--gap-34xl);
    padding-left: var(--padding-32xl);
    box-sizing: border-box;
  }
  .second-image-placeholder {
    min-width: 100%;
  }
  .frame-main {
    gap: var(--gap-10xl);
  }
  .div13 {
    gap: var(--gap-26xl);
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent131 {
    gap: var(--gap-7xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .meat1 {
    font-size: var(--font-size-11xl);
  }
  .back {
    font-size: var(--font-size-mid);
  }
  .meat-label-parent {
    gap: var(--gap-281xl);
  }
  .spin {
    font-size: var(--font-size-mid);
  }
  .tour-spinner {
    font-size: var(--font-size-29xl);
  }
  .div13 {
    gap: var(--gap-4xl);
  }
}
