.image-1-icon4 {
  height: 101px;
  width: 94px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 50.5px);
  left: 56px;
  object-fit: cover;
  z-index: 1;
}
.frame-child23 {
  height: 95px;
  width: 1440px;
  position: relative;
  background: linear-gradient(90deg, #def088, #a6d555 45.5%, #598a03);
  display: none;
  max-width: 100%;
}
.home4 {
  position: relative;
  display: inline-block;
  min-width: 66px;
  cursor: pointer;
  z-index: 1;
}
.home-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) 0 0;
}
.recipes2 {
  position: relative;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.recipes-container {
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) var(--padding-xl) 0 0;
  box-sizing: border-box;
  color: var(--color-white);
}
.frame-child24 {
  height: 46px;
  width: 491px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-floralwhite);
  display: none;
  max-width: 100%;
}
.search-icon1 {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.frame-wrapper9,
.rectangle-parent8 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent8 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-floralwhite);
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-10xs) var(--padding-17xl);
  z-index: 1;
}
.frame-wrapper9 {
  width: 529px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-19xl) 0 0;
}
.male-user-icon2 {
  height: 77px;
  width: 72px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-1-group,
.rectangle-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent7 {
  flex: 1;
  background: linear-gradient(90deg, #def088, #a6d555 45.5%, #598a03);
  justify-content: center;
  padding: var(--padding-sm) var(--padding-xl) var(--padding-9xs)
    var(--padding-185xl);
  box-sizing: border-box;
  gap: var(--gap-87xl);
}
.image-1-group {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-saddlebrown);
  font-family: var(--font-montserrat);
}
.mask-group-icon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child25,
.mask-group-group,
.mask-group-icon1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child25 {
  background-color: var(--color-gray-300);
  z-index: 1;
}
.mask-group-group {
  margin: 0 !important;
}
.frame-child26 {
  position: absolute;
  top: 5px;
  left: 22px;
  background-color: rgba(43, 41, 41, 0.55);
  width: 1234px;
  height: 184px;
  z-index: 2;
}
.care-meal2 {
  margin: 0;
}
.its-goal-is {
  margin: 0;
  font-size: var(--font-size-21xl);
  font-weight: 300;
}
.care-meal-its-container1 {
  width: 100%;
}
.care-meal-its-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.rectangle-parent9 {
  height: 206px;
  width: 1278px;
  position: relative;
  max-width: 100%;
}
.frame-parent17,
.group-div {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.group-div {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 120px var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin-top: -4px;
}
.frame-parent17 {
  height: 573px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.frame-child27 {
  height: 188px;
  width: 252px;
  position: relative;
  border-radius: var(--br-11xl);
  display: none;
}
.allergy,
.immunology,
.p {
  margin: 0;
}
.allergy-immunology-container {
  flex: 1;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.vector-parent4 {
  width: 252px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-floralwhite);
  border: 0 solid var(--color-gold-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-35xl) var(--padding-5xl) var(--padding-28xl);
  z-index: 1;
}
.ellipse-icon {
  height: 378.1px;
  width: 1561px;
  position: absolute;
  margin: 0 !important;
  top: -114.6px;
  right: -1163px;
}
.frame-child28 {
  height: 188px;
  width: 252px;
  position: relative;
  border-radius: var(--br-11xl);
  display: none;
}
.cancer {
  flex: 1;
  position: relative;
  line-height: 22px;
  z-index: 2;
}
.vector-parent5,
.vector-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent6 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-floralwhite);
  border: 0 solid var(--color-gold-100);
  padding: 83px var(--padding-5xl);
  z-index: 1;
}
.vector-parent5 {
  width: 252px;
  position: relative;
}
.frame-child29 {
  height: 188px;
  width: 252px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-floralwhite);
  border: 3px solid var(--color-gold-100);
  box-sizing: border-box;
  display: none;
}
.blood,
.circulation,
.p1 {
  margin: 0;
}
.blood-circulation-container {
  width: 204px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.frame-child30,
.rectangle-parent10 {
  width: 252px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-floralwhite);
  box-sizing: border-box;
}
.rectangle-parent10 {
  border: 3px solid var(--color-gold-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-2xl) var(--padding-30xl);
  z-index: 1;
}
.frame-child30 {
  height: 188px;
  position: relative;
  border: 3px solid var(--color-gold);
  display: none;
}
.digestive-system {
  width: 204px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.frame-child31,
.rectangle-parent11 {
  width: 252px;
  border-radius: var(--br-11xl);
  border: 3px solid var(--color-gold);
  box-sizing: border-box;
}
.rectangle-parent11 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-floralwhite);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-48xl) var(--padding-2xl) var(--padding-36xl);
  z-index: 1;
}
.frame-child31 {
  height: 188px;
  position: relative;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  display: none;
}
.endocrine,
.system {
  margin: 0;
}
.endocrine-system {
  width: 204px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.frame-child32,
.rectangle-parent12 {
  width: 252px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  box-sizing: border-box;
}
.rectangle-parent12 {
  border: 3px solid var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-48xl) var(--padding-2xl) var(--padding-36xl);
  z-index: 1;
}
.frame-child32 {
  height: 188px;
  position: relative;
  background-color: var(--color-floralwhite);
  border: 3px solid var(--color-gold-100);
  display: none;
}
.heart,
.p2,
.vascular-disease {
  margin: 0;
}
.heart-vascular-container {
  height: 87px;
  width: 204px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.frame-child33,
.rectangle-parent13 {
  height: 188px;
  width: 252px;
  border-radius: var(--br-11xl);
  border: 3px solid var(--color-gold-100);
  box-sizing: border-box;
}
.rectangle-parent13 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-floralwhite);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-2xl);
  z-index: 1;
}
.frame-child33 {
  position: relative;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  display: none;
}
.brain,
.nervous-system,
.p3 {
  margin: 0;
}
.brain-nervous-container {
  width: 204px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.frame-child34,
.rectangle-parent14 {
  width: 252px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  box-sizing: border-box;
}
.rectangle-parent14 {
  border: 3px solid var(--color-gold-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-2xl) var(--padding-xl);
  z-index: 1;
}
.frame-child34 {
  height: 188px;
  position: relative;
  background-color: var(--color-floralwhite);
  border: 3px solid var(--color-gold);
  display: none;
}
.reproductive,
.system1 {
  margin: 0;
}
.reproductive-system {
  width: 204px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.frame-parent18,
.rectangle-parent15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent15 {
  width: 252px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-floralwhite);
  border: 3px solid var(--color-gold);
  box-sizing: border-box;
  padding: 68px var(--padding-2xs) 57px var(--padding-12xl);
  z-index: 1;
}
.frame-parent18 {
  width: 1275px;
  flex-wrap: wrap;
  gap: 20px 87.7px;
  min-height: 396px;
  max-width: 100%;
}
.feature-care-meal,
.feature-care-meal-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.feature-care-meal-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.feature-care-meal {
  width: 100%;
  position: relative;
  background-color: var(--color-floralwhite);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-33xl);
  gap: 57px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .rectangle-parent7 {
    padding-left: var(--padding-83xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .care-meal-its-container {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent7 {
    display: none;
    gap: var(--gap-34xl);
    padding-left: var(--padding-32xl);
    box-sizing: border-box;
  }
  .frame-parent18 {
    gap: 44px;
  }
  .feature-care-meal {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent7 {
    gap: var(--gap-7xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .care-meal-its-container {
    font-size: var(--font-size-5xl);
  }
  .group-div {
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .allergy-immunology-container {
    font-size: var(--font-size-lgi);
  }
  .cancer {
    line-height: 18px;
  }
  .blood-circulation-container,
  .brain-nervous-container,
  .cancer,
  .digestive-system,
  .endocrine-system,
  .heart-vascular-container,
  .reproductive-system {
    font-size: var(--font-size-lgi);
  }
  .frame-parent18 {
    gap: var(--gap-3xl);
  }
}
